@import "partials/variables";
@import "partials/mixins";
@import "partials/animations";
@import "partials/home";
@import "partials/work";
@import "partials/projects";
@import "partials/blog";
@import "partials/footer";
//imports partials
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	//removes pre-existing settings
}

html {
	background-color:rgb(243, 243, 188); //Change color of html	border: 10px solid black; //Creates a black border around the screen so that it looks neat
}

header{
	#logo:hover{
		background-color:black; //change bg to black on hover
		h1{
			color:white; //change text to white on hover
		}
	}
}

#logo {
	position: absolute; //unpins positioning
	background-color: white; //bg color
	transition: 1s ease-in-out; //1 second transition time
	left: 10%; //positioning
	top: 6%; //positioning
	width: 60px;
	height: 60px;
	//position settings
	border: 5px solid black; //black border
	@include title-font(); //add font style
	h1{
		color: black;
		font-weight: 600; //bold
		margin: 14px auto;
		transition: 1s ease-in-out; //transition time
	}
  }

/*#region nav-bar*/
.nav-bar {
	padding-top: 60px;
	padding-right: 40px;
	font-weight: bold;
	font-family: "Noto Sans", serif;
	display: flex; 
	justify-content: flex-end; //arranging the links to the end of the screen
	a {
        color: rgb(61, 61, 61); //changes it from the default color to maintain neatness
		&:link {	
			padding: 0px 10px;
			text-decoration: none; //removes underline
		}

		&:hover{
            color:black; //change color to black so user knows they are hovering
		}

	}
}
/*#endregion nav-bar*/

.page-nav-buttons{
    display:flex; 
    width: 80%;
    margin: 40px auto;
    justify-content: space-between; //separate the nav buttons
    a{
        text-decoration: none; //removes underline
        color:black; //black font
        font-size: 12px;
        &:hover{
            #right-arrow{
				transform: translate(6px,0); //move arrow right
				-webkit-transform: translate(6px,0); /** Chrome & Safari **/
				-o-transform: translate(6px,0); /** Opera **/
				-moz-transform: translate(6px,0); /** Firefox **/
            }

            #left-arrow{
                transform: translate(-6px,0); //move arrow left
                -webkit-transform: translate(-6px,0); /** Chrome & Safari **/
                -o-transform: translate(-6px,0); /** Opera **/
                -moz-transform: translate(-6px,0); /** Firefox **/
            }
        }
    }
}

#right-arrow{
	position: absolute; //unpin positioning
	transition: 0.5s ease-in-out; //0.5 second transition and exit
	-webkit-transition: 0.5s ease-in-out; /** Chrome & Safari **/
	-moz-transition: 0.5s ease-in-out; /** Firefox **/
	-o-transition: 0.5s ease-in-out; /** Opera **/
}

#left-arrow{
position: absolute; //unpin positioning
transition: 0.5s ease-in-out; //0.5 second transition and exit
-webkit-transition: 0.5s ease-in-out; /** Chrome & Safari **/
-moz-transition: 0.5s ease-in-out; /** Firefox **/
-o-transition: 0.5s ease-in-out; /** Opera **/
}

/*#region For mobile phones: */
[class*="col-"] {
	width: 100%;
}
/*#endregion For mobile phones: */
@media only screen and (min-width: 600px) {
	.col-s-1{
		width: 8.33%;
	}
	.col-s-2{
		width: 16.66%;
	}
	.col-s-3{
		width: 25%;
	}
	.col-s-4{
		width: 33.33%;
	}
	.col-s-5{
		width: 41.66%;
	}
	.col-s-6{
		width: 50%;
	}
	.col-s-7{
		width: 58.33%;
	}
	.col-s-8{
		width: 66.66%;
	}
	.col-s-9{
		width: 75%;
	}
	.col-s-10{
		width: 83.33%;
	}
	.col-s-11{
		width: 91.66%;
	}
	.col-s-12{
		width: 100%;
	}

	.page-nav-buttons{
        width: 60%;
        a{
            font-size: 14px;
        }
    }
}


@media only screen and (min-width: 769px) {
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}

}
/*#endregion For tablets: */
