@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
$noto-sans: 'Noto Sans', serif;
$raleway: 'Raleway', sans-serif;

@mixin sub-title-font {
	h1{
		margin: 80px auto;
		text-align: center;
		font-family: $raleway;
		font-size: 20px;
		font-weight: 400;
	}
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color:rgb(243, 243, 188);
	border: 10px solid black; //Creates a black border around the screen so that it looks neat
}

header{
	#logo:hover{
		animation: icon-animation 1s;
		animation-fill-mode: forwards; //Stay on final frame
	}
}

@keyframes icon-animation {
	from {
	  transform: rotate(0deg);
	}
	to {
		background-color: rgb(128, 128, 128);
	}
  }


#logo {
	position: absolute;
	background-color: white;
	left: 10%;
	width: 60px;
	height: 60px;
	top: 6%;
	border: 5px solid black;
	@include sub-title-font();
	h1{
		color: black;
		font-weight: 600;
		margin: 14px auto;
	}

  }
/*#region nav-bar*/
.nav-bar {
	padding-top: 60px;
	padding-right: 40px;
	font-size: 100%;
	font-weight: bold;
	font-family: "Noto Sans", serif;
	display: flex; 
	justify-content: flex-end; //arranging the links to the end of the screen
	a {
        color: rgb(61, 61, 61); //changes it from the default color to maintain neatness
		&:link {	
			padding: 0px 10px;
			text-decoration: none; //removes underline
		}

		&:hover{
            color:black;
		}

	}
}
/*#endregion nav-bar*/

/*#region welcome-page*/
#welcome-page {
	width: 70%;
	height: 400px;
	margin: 120px auto;
	img{
		display: block;
		margin:20px auto;
		width: 150px;
		height:auto;
	}
	h1{
		margin: 5px;
		text-align: center;
		font-family: $raleway;
		font-size: 40px;
		font-weight: 300;
	}
	h2{
		font-family: $raleway;
		font-size: 20px;
		font-weight: 100;
		text-align: center
	}
}


/*#endregion welcome-page*/

/*#region about-me*/
#about-me-section{
	background-color: rgb(206, 206, 206);
	border: 1px solid black;
	@include sub-title-font();
	
}
.about-me-container{
	flex-wrap: wrap;
	display:flex;
	justify-content: center;
	align-content: flex-start;
	margin: 20px auto;
}

#profile-pic{
	width: 200px;
	height: 260px;
	border: 10px solid white;
	margin: 20px;
	box-shadow: 3px 3px black;
}

#about-me-pic{
	border-radius: 10px;
	height: auto;
	margin: 20px 40px 40px 40px;
	box-shadow: 3px 3px black;
}

/*#endregion nav-bar*/

/*#region skills-section*/
#skills-section {
	width: 70%;
	margin: auto;
	@include sub-title-font();
}

#skills-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 100px;
}
.skill{
	border: 2px solid black;
	width: 100px;
	height: auto;
	border-radius: 5px;
	padding: 1%;
	margin: 5px 5px;
	box-shadow: 3px 3px black;
	img{
		
		display: block;
		width: 60px;
		height: 60px;
		margin: auto;
	}
	h4{
		text-align: center;
		margin: 5px;
		font-style: italic;
	}
}

/*#endregion skills-section*/

/*#region footer*/
.socials-container{
	padding: 30px 0px 0px 0px;
	a{
		margin: 8px;
		img{
		filter:grayscale(1) invert(0.7);
		-webkit-filter: grayscale(1) invert(0.7);
		width: 28px;
		height: 28px;
		}
	}
	p{
		display:inline;
	}

	a:hover{
		img{
		filter:grayscale(1) invert(1);
		-webkit-filter: grayscale(1) invert(1);
		}
	}
}

footer {
	width: 100%;
	background-color: black;
	margin: 30px 0px 0px 0px;
	text-align: center;
	font-family: $raleway;
	color:white;
	font-size: 14px;
}
/*#endregion footer*/

/*#region work-page*/
#work-page {
	width: 70%;
	height: 400px;
	margin: 120px auto;
	img{
		display: block;
		margin:20px auto;
		width: 150px;
		height:auto;
	}
	h1{
		margin: 5px;
		text-align: center;
		font-family: $raleway;
		font-size: 40px;
		font-weight: 300;
	}
	h2{
		font-family: $raleway;
		font-size: 20px;
		font-weight: 100;
		text-align: center
	}
}


/*#endregion work-page*/

#work-background{
	width: 40%;
	height: 500px;
	z-index: -1; //make sure container does not block raycasts
	position: absolute;
	#cog1{
		position:relative;
		width: 50%;
		animation: rotation 4s infinite linear;
		animation-direction: reverse;
	}

	#cog2{
		width: 30%;
		position:relative;
		left: -4%;
		animation: rotation 2s infinite linear;
	}

}

@keyframes rotation {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	}
  }


  @keyframes rotate-back {
	  100%{
	  transform: rotate(0deg);
	  }
  }

#projects-section{
	background-color: rgb(206, 206, 206);
	border: 1px solid black;
	@include sub-title-font();
	h1{
		margin: 60px 20%;
		text-align: left;
		font-weight: 600;
	}
	
}

#project-banner{
	border: 5px solid rgb(255, 255, 255);
	width: 100%;
	height: auto;
	box-shadow: 3px 3px black;
}

.projects-container{
	width: 60%;
	margin: 20px auto;
	p{
		margin: 10px 0;
		font-family: $raleway;
	}
}

.project-details{
	display: flex;
	justify-content: space-between;
	margin: 10px auto;
}
.project-skills{
	display:flex;
	justify-content: flex-end;
	img{
		width: 50px;
		height: 50px;
	}
}

/*#region For mobile phones: */
[class*="col-"] {
	width: 100%;
	#about-me-pic{
		width: 80%;
	}
}
@media only screen and (min-width: 600px) {
	.col-s-1{
		width: 8.33%;
	}
	.col-s-2{
		width: 16.66%;
	}
	.col-s-3{
		width: 25%;
	}
	.col-s-4{
		width: 33.33%;
	}
	.col-s-5{
		width: 41.66%;
	}
	.col-s-6{
		width: 50%;
	}
	.col-s-7{
		width: 58.33%;
	}
	.col-s-8{
		width: 66.66%;
	}
	.col-s-9{
		width: 75%;
	}
	.col-s-10{
		width: 83.33%;
	}
	.col-s-11{
		width: 91.66%;
	}
	.col-s-12{
		width: 100%;
	}

}
/*#endregion For mobile phones: */
/*#region For tablets: */
@media only screen and (min-width: 769px) {
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}

}
/*#endregion For tablets: */
