@import "partials/variables";
@import "partials/mixins";
@import "partials/animations";
@import "partials/home";
@import "partials/work";
@import "partials/projects";
@import "partials/blog";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	//removes pre-existing settings
}

html {
	background-color:rgb(243, 243, 188); //Change color of html
	border: 10px solid black; //Creates a black border around the screen so that it looks neat
}

header{
	#logo:hover{
		animation: icon-animation 1s; //change color on hover
		animation-fill-mode: forwards; //Stay on final frame when hovering
	}
}

#logo {
	position: absolute;
	background-color: white;
	left: 10%;
	width: 60px;
	height: 60px;
	top: 6%;
	//position settings
	border: 5px solid black; //black border
	@include title-font(); //add font style
	h1{
		color: black;
		font-weight: 600;
		margin: 14px auto;
	}
  }

/*#region nav-bar*/
.nav-bar {
	padding-top: 60px;
	padding-right: 40px;
	font-size: 100%;
	font-weight: bold;
	font-family: "Noto Sans", serif;
	display: flex; 
	justify-content: flex-end; //arranging the links to the end of the screen
	a {
        color: rgb(61, 61, 61); //changes it from the default color to maintain neatness
		&:link {	
			padding: 0px 10px;
			text-decoration: none; //removes underline
		}

		&:hover{
            color:black; //change color to black so user knows they are hovering
		}

	}
}
/*#endregion nav-bar*/

/*#region footer*/
.socials-container{
	padding: 30px 0px 0px 0px;
	a{
		margin: 8px; //adds some spacing
		img{
		filter:grayscale(1) invert(0.7); //change to grayscale
		-webkit-filter: grayscale(1) invert(0.7);
		width: 28px;
		height: 28px;
		}
	}
	p{
		display:inline; //put text on same line as images
	}

	a:hover{
		img{
		filter:grayscale(1) invert(1); //changes color to white on hover
		-webkit-filter: grayscale(1) invert(1);
		}
	}
}

footer {
	width: 100%;
	background-color: black; //black bar
	margin: 30px 0px 0px 0px;
	text-align: center;
	font-family: $raleway;
	color:white;
	font-size: 14px;
	//font style added
}
/*#endregion footer*/




/*#region For mobile phones: */
[class*="col-"] {
	width: 100%;
}
@media only screen and (min-width: 600px) {
	.col-s-1{
		width: 8.33%;
	}
	.col-s-2{
		width: 16.66%;
	}
	.col-s-3{
		width: 25%;
	}
	.col-s-4{
		width: 33.33%;
	}
	.col-s-5{
		width: 41.66%;
	}
	.col-s-6{
		width: 50%;
	}
	.col-s-7{
		width: 58.33%;
	}
	.col-s-8{
		width: 66.66%;
	}
	.col-s-9{
		width: 75%;
	}
	.col-s-10{
		width: 83.33%;
	}
	.col-s-11{
		width: 91.66%;
	}
	.col-s-12{
		width: 100%;
	}

}
/*#endregion For mobile phones: */
/*#region For tablets: */
@media only screen and (min-width: 769px) {
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}

}
/*#endregion For tablets: */
