@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #f3f3bc;
  border: 10px solid black;
}

/*#region nav-bar*/
.nav-bar {
  padding-top: 60px;
  padding-right: 40px;
  font-size: 100%;
  font-weight: bold;
  font-family: "Noto Sans", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-bar a {
  color: #3d3d3d;
}

.nav-bar a:link {
  padding: 0px 10px;
  text-decoration: none;
}

.nav-bar a:hover {
  color: black;
}

/*#endregion nav-bar*/
/*#region welcome-page*/
#welcome-page {
  width: 70%;
  height: 400px;
  margin: 120px auto;
}

#welcome-page img {
  display: block;
  margin: 20px auto;
  width: 150px;
  height: auto;
}

#welcome-page h1 {
  margin: 5px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 300;
}

#welcome-page h2 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

/*#endregion welcome-page*/
/*#region about-me*/
#about-me-section {
  background-color: #cecece;
  border: 1px solid black;
}

#about-me-section h1 {
  margin: 80px auto;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.about-me-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin: 20px auto;
}

#profile-pic {
  width: 200px;
  height: 260px;
  border: 10px solid white;
  margin: 20px;
  -webkit-box-shadow: 3px 3px black;
          box-shadow: 3px 3px black;
}

#about-me-pic {
  border-radius: 10px;
  height: auto;
  margin: 20px 40px 40px 40px;
  -webkit-box-shadow: 3px 3px black;
          box-shadow: 3px 3px black;
}

/*#endregion nav-bar*/
/*#region skills-section*/
#skills-section {
  width: 70%;
  margin: auto;
}

#skills-section h1 {
  margin: 80px auto;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

#skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px;
}

.skill {
  border: 2px solid black;
  width: 100px;
  height: auto;
  border-radius: 5px;
  padding: 1%;
  margin: 5px 5px;
  -webkit-box-shadow: 3px 3px black;
          box-shadow: 3px 3px black;
}

.skill img {
  display: block;
  width: 60px;
  height: 60px;
  margin: auto;
}

.skill h4 {
  text-align: center;
  margin: 5px;
  font-style: italic;
}

/*#endregion skills-section*/
/*#region footer*/
.socials-container {
  padding: 30px 0px 0px 0px;
}

.socials-container a {
  margin: 8px;
}

.socials-container a img {
  filter: grayscale(1) invert(0.7);
  -webkit-filter: grayscale(1) invert(0.7);
  width: 28px;
  height: 28px;
}

.socials-container p {
  display: inline;
}

.socials-container a:hover img {
  filter: grayscale(1) invert(1);
  -webkit-filter: grayscale(1) invert(1);
}

footer {
  width: 100%;
  background-color: black;
  margin: 30px 0px 0px 0px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 14px;
}

/*#endregion footer*/
/*#region For mobile phones: */
[class*="col-"] {
  width: 100%;
}

[class*="col-"] #about-me-pic {
  width: 80%;
}

@media only screen and (min-width: 600px) {
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

/*#endregion For mobile phones: */
/*#region For tablets: */
@media only screen and (min-width: 769px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

/*#endregion For tablets: */
/*# sourceMappingURL=style.css.map */