@import "./mixins";
@import "./variables";
.blog-page {
    /*#region welcome page sizing*/
	width: 70%;
    height: 400px;
	margin: 120px auto;
    /*#endregion welcome page sizing*/
	img{
		display: block; //separate image from text
		margin:20px auto; //create space above and below and center
		width: 150px; //sizing
		height:auto; //sizing
	}

	h1{
		margin: 5px; //create space around text
		text-align: center;
		font-family: $raleway; //change font
		font-size: 30px; 
		font-weight: 300; //bold font
	}

	h2{
		font-family: $raleway; //change font
		font-size: 16px;
		font-weight: 100; //make font thin
		text-align: center
	}
}

.blog-section{
	background-color: rgb(255, 255, 255); //make border white
	border: 1px solid black; //create thin divider
	@include title-font(); //h1 font mixin
    h1{
        margin: 80px auto; //space top bottom
    }
    padding-bottom: 30px; //create space below
}

.blog-snippet-container{
    width: 80%; //responsive sizing
    margin: auto; //center container
    overflow: hidden; //hides anything outside container
    padding: 40px; //creates space around text
    color:rgb(0, 0, 0); //change font color
    border-top: 1px solid black; //thin black divider
    @include date-font; //mixin date font
    @include sub-heading-font; //mixin subheading font
    @include p-font; //mixin paragraph font
    h2{
        font-size:24px;
    }
    p{
        font-size: 14px;
    }
    a{
        text-decoration: none; //removes underline
        color: black;
        &:hover{
            span{
                transform: translate(10px,0); //moves span 10px to right
                -webkit-transform: translate(10px,0); /** Chrome & Safari **/
                -o-transform: translate(10px,0); /** Opera **/
                -moz-transform: translate(10px,0); /** Firefox **/
            }
        }
    }
}


#read-more-arrow{
    margin-left: 6px; //create space on left
    position: absolute; //unpins positioning
    transition: 0.5s ease-in-out; //animates then reverses animation on exit
    -webkit-transition: 0.5s ease-in-out; /** Chrome & Safari **/
    -moz-transition: 0.5s ease-in-out; /** Firefox **/
    -o-transition: 0.5s ease-in-out; /** Opera **/
}

.blog-post-section{
    margin-top: 50px; //add spacing on top
	background-color: rgb(255, 255, 255); //change bg color to white
	border: 1px solid black; //add black border
    padding: 30px;	//centers content
}

.blog-content{
    @include title-font(); //mixin
    width: 80%; //squishes to be easier to read
    margin: auto; //center content
    h1{
        margin: 80px auto; //space top bottom
        font-size: 30px;
        font-weight: 400; //bold
    }
    h3{
        font-family: $noto-sans;
        font-size: 18px;
    }
    h5{
        @include date-font(); //mixin date font
        font-size: 12px;
    }
    p{
        line-height:2; //line spacing
        font-family: $noto-sans;
    }
    img{
        width:100%; //aligns photo to be same width as content
    }
}

@media only screen and (min-width: 600px) {
//tablet view
	.blog-page{
		h1{
			font-size: 40px; //increase font size
		}
        h2{
            font-size: 20px; //increase font size
        }
	}

    .blog-snippet-container{
        width: 70%; //decrease width to make it easier to read
        h2{
            font-size: 30px; //increase font size
        }
        p{
            font-size: 16px; //increase font size
        }
    }

    .blog-content{
        width: 60%; //decrease width to make it easier to read
        h3{
            font-size: 18px; //make text larger
        }
        h5{
            font-size: 14px; //make text larger
        }
    }

}

