.socials-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
	padding: 30px 20px 0px 20px; //make space around items
	a{
		margin: 8px; //adds some spacing
        display: inline; //keeps everything on the same line
		img{
		filter:grayscale(1) invert(0.7); //change to grayscale
		-webkit-filter: grayscale(1) invert(0.7); //change to grayscale
		width: 28px;
		height: 28px;
		}
	}
	p{
        margin: 6px; //spacing around
		display:block; //put text on new line
	}

	a:hover{
		img{
		filter:grayscale(1) invert(1); //changes color to white on hover
		-webkit-filter: grayscale(1) invert(1); //changes color to white on hover
		}
	}
}

#resume{
    a{
        text-decoration: none; //removes underline
        font-family: $raleway; //change font
        text-align:center;
        margin:auto; //center text
        color: white; //white text
        border-radius: 5px; //round edges on border
        border: 3px solid white; //white border
        background-color: black; //black background
        display: inline-block; //keeps block in line
        width: 80px; 
		height: 40px;
        transition: 0.5s ease-in-out; //animation timing
        &:hover{
            background-color: white; //turn background color to white
            color: black; //turn text color to black
        }
    }
}

footer {
	width: 100%; //stretch across screen
	background-color: black; //black bar
	margin: auto;
	padding-bottom: 10px; //create space on bottom
	/*#region font-style added*/
	text-align: center;
	font-family: $raleway;
	color:white;
	font-size: 14px; 
	/*#endregion font-style added*/
}
/*#endregion footer*/