@import "./mixins";

/*#region welcome-page*/
.welcome-page {
	width: 70%;
	height: 400px;
	margin: 120px auto;
	img{
		display: block;
		margin:20px auto;
		width: 150px;
		height:auto;
	}
	h1{
		margin: 5px;
		text-align: center;
		font-family: $raleway;
		font-size: 30px;
		font-weight: 300;
	}
	h2{
		font-family: $raleway;
		font-size: 16px;
		font-weight: 100;
		text-align: center
	}
}


/*#endregion welcome-page*/

/*#region about-me*/
#about-me-section{
	background-color: rgb(206, 206, 206);
	border: 1px solid black;
	@include title-font();
}
.about-me-container{
	flex-wrap: wrap;
	display:flex;
	justify-content: center;
	align-content: flex-start;
	margin: 20px auto;
}

#about-me-content{
	background-image: url("../../img/chat-window.png");
	width: 70%;
	height: 200px;
	margin: 20px auto;
	border-radius: 10px;
	padding:30px;
	h2{
		font-family: $noto-sans;
		font-size: 16px;	
	}
	p{
		font-size: 12px;
	}
	li{
		line-height: 1.6;
		font-size: 12px;
	}
}

#profile-pic{
	width: 200px;
	height: 260px;
	border: 10px solid white;
	margin: 20px;
	box-shadow: 3px 3px black;
}

#about-me-pic{
	border-radius: 10px;
	height: auto;
	margin: 20px 40px 40px 40px;
	box-shadow: 3px 3px black;
	width:80%;
}

/*#endregion nav-bar*/

/*#region skills-section*/
#skills-section {
	width: 80%;
	margin: auto;
	@include title-font();
}

#skills-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 40px;
}
.skill{
	border: 2px solid black;
	width: 100px;
	height: auto;
	border-radius: 5px;
	padding: 1%;
	margin: 5px 5px;
	box-shadow: 3px 3px black;
	img{
		
		display: block;
		width: 60px;
		height: 60px;
		margin: auto;
	}
	h4{
		text-align: center;
		margin: 5px;
		font-style: italic;
	}
}

.resume-container{
	display:flex;
	justify-content: center;
	align-items: center; //centers text vertically
	background-color: white;
	border: 3px solid black;
	box-shadow: 5px 5px black;
	border-radius: 10px;
	margin: auto;
	width: 30%;
	height: 80px;
	a{
		text-decoration: none;
		&:hover{
			#down-arrow{
				transform: translate(0,6px);
				-webkit-transform: translate(0,6px); /** Chrome & Safari **/
				-o-transform: translate(0,6px); /** Opera **/
				-moz-transform: translate(0,6px); /** Firefox **/
				}
		}
	}
	p{
		width: 80%;
		font-size: 16px;
		font-family: $raleway;
		text-align: center;
		color:black;
	}
}

#down-arrow{
	position: absolute;
	transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out; /** Chrome & Safari **/
	-moz-transition: 0.5s ease-in-out; /** Firefox **/
	-o-transition: 0.5s ease-in-out; /** Opera **/
}
/*#endregion skills-section*/

@media only screen and (min-width: 500px) {

	#about-me-content{
		h2{
			font-family: $noto-sans;
			font-size: 24px;	
		}
		p{
			font-size: 14px;
		}
		li{
			font-size: 14px;
		}
	}
}
@media only screen and (min-width: 600px) {

	.welcome-page{
		h2{
			font-size:20px;
		}
	}
}

@media only screen and (min-width: 769px) {
	.resume-container{
		p{
			font-size: 18px;
		}
	}

	.welcome-page{
		h1{
			font-size:40px;
		}
	}

	#about-me-content{
		p{
			font-size: 16px;
		}
		li{
			font-size: 16px;
		}
	}
}