@import "./variables";

@mixin title-font {
	//title style
	h1{
		text-align: center; //center
		font-family: $raleway;
		font-size: 20px;
		font-weight: 400;
	}
}

@mixin date-font {
	//style used for dates
		font-size: 14px;
		font-weight: bold;
}

@mixin sub-heading-font {
	//style used for subheadings
	h2{
	font-family: $noto-sans;
	font-size: 30px;
	}
}

@mixin p-font{
	//style used for paragraph
	p{
		font-family: $noto-sans;
		font-size: 16px;
		font-weight: 100; //thin font
	}
}