.project-page{
	margin-top: 140px;
	display:flex;
	justify-content: space-between;
	border: 1px solid black;
	background-color: white;
	flex-wrap: wrap;
}

#project-page-description
{
	width: 80%;
  	top: 0;
	padding: 20px;
	margin: auto;
}

#project-page-images{
	margin: auto;
	display:flex;
	justify-content: center;
	img{
		width: 80%;
		margin: 20px;
	}
	width: 100%;
	flex-wrap:wrap;
}

@media only screen and (min-width: 600px) {

	#project-page-images{
		width: 60%;
	}

	#project-page-description
	{
		width: 30%;
		position: -webkit-sticky; /* Safari */
		position: sticky;
	  	align-self: flex-start;
	  	margin: 0px 0px 0px 20px;
	  ul{
		line-height: 2;
	  }
	}

}

@media only screen and (min-width: 769px) {
}